@import url('ibm-plex.css');

html {
  background-attachment: fixed;
  max-width: 100%;
  height: auto;
  -webkit-font-smoothing: antialiased;
}

body {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
  color: #fff;
  font-family: 'IBM Plex Mono', Monaco, Menlo, monospace;
  line-height: 1;
  margin: 0 auto;
  padding: 2vh;
  background-color: #000000;
}

div {
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-weight: bold;
}

input[type=text] {
  height: 40px;
  font-family: 'IBM Plex Mono';
  margin: none;
  border: none;
  padding: none;
  padding-right: 5px;
  padding-left: 5px;
  line-height: 1;
  font-size: 15px;
}

button[type=submit] {
  background-color: white;
  color: black;
  height: 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'IBM Plex Mono';
  line-height: 1;
  font-size: 15px;
}

#ja {
  font-size: 32vmin;
}

#nein {
  font-size: 30vmin;
}

table {
  width: 100%;
  /* table-layout: fixed; */
  border-collapse: collapse; 
}

.open {
  background-color: rgb(40, 101, 123);
  font-size: 0;
  height: 1cm;
  width: 1cm;
  margin: auto; 
}

.closed {
  font-size: 0;
}

.weekday {
  text-align: center;
  font-style: italic;
  vertical-align: top;
}

.time {
  text-align: center;
  font-style: italic;
}

.imageWrapper {
  height: 80vh;
  width: 100%;
  left: auto;
  bottom: 0px;
}

.bottomImage {
  transform: rotate(180deg);
  position: absolute;
  bottom: 5px;
  left: 45%;
}

.box {
  background-color: #696969;
  color: white;
  padding: 20px;
  margin-top: 2vh;
}

.janeinBox {
  background-color: #696969;
  color: white;
  padding: 20px;
  /* min-height: 92vh; */
}

.btn-block,
input[type=submit].btn-block {
  width: 100%
}

.fade {
  transition: opacity .15s linear
}

/* Mobile */
@media screen and (max-aspect-ratio: 1/1) {
  #banner {
    width: 100%;
    max-width: 500px;
  }

  input[type=text] {
    width: 80vw;
    text-align: center;
  }

  button[type=submit] {
    width: 80vw;
    text-align: center;
    margin-top: 10px;
  }
}

/* Desktop */
@media screen and (min-aspect-ratio: 1/1) {

  input[type=text] {
    width: 60vw;
    text-align: right;
  }

  button[type=submit] {
    width: 20vw;
    text-align: center;
  }
}